html { 
  background: url(assets/bg-light.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .light {
    color: black;
  }
  
  .dark {
    color: white;
  }
}

body {
  margin: 0 18px;
  font-family: Noto Sans;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  min-width: 360px;
}

.themeButton {
  border-radius: 20px;
  border: none;
  padding: 8px;
  transition: all 1s ease-out;

  margin: 16px 0;

  &.light {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &.dark {
    background-color: rgba(26, 26, 26, 0.5);
  }
}

.searchbarContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;

  @media only screen and (max-width: 700px) {
    gap: 10px;
  }

  .searchbarField {
    display: flex;
    flex-direction: column; 
    min-width: 100px;
    flex: 1; 

    input {
      display: flex;
      border: none;
      height: 50px;
      padding: 10px 20px 0;
      border-radius: 20px;
      font-family: Noto Sans;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      transition: all 1s ease-out;
      
      &:focus {
        outline: none;
      }

      @media only screen and (max-width: 700px) {
        height: 35px;
        padding: 5px 10px 0;
        border-radius: 8px;
        font-size: 12px;
      }
    }

    label {
      font-family: Noto Sans;
      font-weight: 400;
      font-size: 10px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      position: relative;
      top: -50px;
      left: 20px;
      color: rgba(0, 0, 0, 0.4);

      @media only screen and (max-width: 700px) {
        font-size: 8px;
        left: 10px;
        top: -34px;
      }
    }
  }

  .searchbarButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media only screen and (max-width: 700px) {
      gap: 10px;
    }
  }

  .light input {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
  }
  .dark input {
    background-color: rgba(26, 26, 26, 0.5);
    color: white;
  }

  .dark label {
    color: rgba(255, 255, 255, 0.4);

  }
}


.searchbarButton {
  all: unset;
  display: block; 
  width: 60px;
  height: 60px; 
  border-radius: 20px;
  transition: all 1s ease-out;
  
  &.light{
    background-color: #6C40B5;
  }

  &.dark{
    background-color: #28124D;
  }

  img {
    display: block;
    width: 34px;
    height: 34px;
    filter: invert();
    margin: 0 auto;
  }

  @media only screen and (max-width: 700px) {
    height: 40px;
    width: 40px;
    border-radius: 8px;

    img{
      width: 22.66666603088379px;
      height: 22.66666603088379px;
    }
  }
}

.card {
  margin-top: 112px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 50px;

  &.dark {
    background: rgba(26, 26, 26, 0.3);
    backdrop-filter: blur(20px);
    border: none;
  }

  @media only screen and (max-width: 700px) {
    margin-top: 139px;
    padding: 20px;
    border-radius: 20px;
  }
}

.weatherWrapper {
  height: 150px;
  @media only screen and (max-width: 700px) {
    height: 110px;
  }
  img {
    width: 300px;
    position: relative;
    top: -20rem;
    left: 5%;
    align-self: flex-end;

    @media only screen and (max-width: 700px) {
      width: 157px;
      top: -13rem;
    }
  }
  display: flex;
  flex-direction: column;

  #currentTemp {
    font-family: Noto Sans;
    font-weight: bolder;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(108, 64, 181, 1);

    &.dark {
      color: white;
    }

    @media only screen and (max-width: 700px) {
      font-size: 50px;
    }
  }

  #place {
    font-family: Noto Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(102, 102, 102, 1);

    &.dark {
      color: white;
    }

    @media only screen and (max-width: 700px) {
      font-size: 14px;
      margin: 5px 0;
    }
  }

  .details {
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(102, 102, 102, 1);

    &.dark {
      color: white;
    }

    @media only screen and (max-width: 700px) {
      font-size: 14px;
    }
  }

  .mobileDetailsWrapper {
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .desktopDetailsWrapper {
    margin: 10px 0;
  }
}

.title {
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  @media only screen and (max-width: 700px) {
    font-size: 14px;  
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.cardHistory {
  margin-top: 26px;
  padding: 20px;
  border-radius: 24px;
  border: none;
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media only screen and (max-width: 700px) {
    padding: 17px;
  }

  .title{
    margin: 10px 0;

    @media only screen and (max-width: 700px) {
      margin: 0;
    }
  }
  &.dark{
    .timestamp {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.historyRow {
  border-radius: 16px;
  padding: 21px;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 700px) {
    padding: 10px;
  }

  span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

    @media only screen and (max-width: 700px) {
      font-size: 14px;
      align-items: flex-start;
      gap: 5px;
    }
  }

  .timestamp {
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

    @media only screen and (max-width: 700px) {
      font-size: 10px;
    }
  }

  &.dark{
    background: rgba(26, 26, 26, 0.5);
  }

  
}

.historyButton {
  all: unset;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 100px;
  min-width: 34px;
  min-height: 34px;

  img {
    display: flex;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    opacity: 0.5;
  }

  &.dark {
    background: none; 
    border: 1px solid white;

    img {
      filter: invert();
      opacity: 1;
    }
  }
}

.noRecord {
  display: flex;
    justify-content: center;
    margin: 20px;
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(102, 102, 102, 1);

    &.dark{
      color: white;
    }

    @media only screen and (max-width: 700px) {
      font-size: 14px;
    }
}

.error{
  padding: 6px 20px;
  &.light {
    color: darkred;
  }
  &.dark {
    color: red;
  }
}